#typeface-1 {
    font-family: 'Montserrat', sans-serif;

}


#typeface-2 {
    font-family: 'Muli', sans-serif;

}


#typeface-3 {
    font-family: 'Open Sans Condensed', sans-serif;

}


#typeface-4 {
    font-family: 'Nixie One', cursive;

}
